node_modules
.expo
expo-env.d.ts
dist
web-build
metro-health-check*
*.tsbuildinfo
.DS_Store
.vscode
.claude
*.pem
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
npm-debug.*
yarn-debug.*
yarn-error.*
.env*.local
.git
